@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
body{
    font-family: 'ZCOOL KuaiLe', cursive;
    color: rgba(253, 0, 51, 0.842);
}
.main-screen{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(58, 51, 51);
}

.control-screen{
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 10%;
    min-width: 200px;
    background-color: rgba(10, 4, 10, 0.13);
    border: 9px outset #FF1B1B;
    border-radius: 40px 40px 0px 0px;
}

.grid-screen{
    align-items: center;
    width: 70%;
    height: 95%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    background-image:
    linear-gradient(rgba(7, 7, 7, 0.05), rgba(121, 58, 58, 0.3)), url('../assets/space.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border: 3px solid black;
}

 .grid-screen div {
    border: 1px solid rgb(40, 44, 48);
    flex-grow: 1;
    height: 5%;
    width: 4.7%;
  }

 .tv{
     flex:1;
     margin-top: 20%; width: 154px;
     height: 42px;
     background-color: #444;
     background-image: linear-gradient(300deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
     border-radius: 8px;
     margin: auto;
     position: relative;
     top: 10px;
     text-align: right;
     font-family: 'PT Mono', monospace;
     color: #fff;
     line-height: 42px;
     font-size: 32px;
     padding: 5px 8px;
     background-image:url(/assets/alien-jif.gif);
     background-repeat:round;
     background-size:contain;

     
 }
 .brief{
     flex: 1;
     margin-top: 20%;
 }
 .score{
     flex: 1;
     margin-top: 20%;
 }
 .life{
    flex: 1;
    margin-top: 20%;
 }
 .time-since{
     margin-bottom: 10px;
 }
 .time{
    flex:1;
    margin-top: 20%;
    width: 154px; 
    height: 10px;
    margin-top: 20px;
    /* background-color: #444; */
    /* background-image: linear-gradient(300deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.1), rgba(255,255,255,0.1)); */
    border-radius: 4px;
    margin: auto;
    position: relative;
    top: -10px;
    text-align: right;
    font-family: 'PT Mono', monospace;
    color: #fff;
    line-height: 42px;
    font-size: 32px;
    /* padding: 5px 8px; */
      
 }
.console{
    flex: 1;
    margin-top: 20%;
}
.start{
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-style:italic;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 8px 1px #810e05;
}

.start:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

.grid-screen div.spaceShip {
    background-color: rgb(197, 3, 3);
    clip-path: polygon(5% 46%, 55% 13%, 30% 49%, 74% 48%, 55% 14%, 100% 50%, 100% 0, 65% 82%, 100% 100%, 0 100%, 40% 81%, 0 0);
    /* background-image: url(/assets/spaceship.jfif);
    background-repeat: no-repeat;
    background-size:cover */

  }


  .grid-screen div.enemy {
    background-color: red;
    background-image:url(/assets/alien.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  }


  .grid-screen div.bullet {
      background-color: rgb(223, 15, 15);
      clip-path: polygon(50% 0%, 35% 97%, 68% 97%);
    /* background-color: rgb(2, 2, 12);
    background-image: url(/assets/bullet.jpg);
    background-repeat:no-repeat;
    background-size: cover; */
  }

  .grid-screen div.extraLife{
      background-color: red;
      clip-path: polygon(13% 15%, 29% 9%, 49% 28%, 68% 8%, 82% 14%, 89% 30%, 84% 41%, 67% 65%, 48% 89%, 33% 70%, 18% 53%, 8% 31%); 
     }


