@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
body{
    font-family: 'ZCOOL KuaiLe', cursive;
}
.main-screen{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-screen{
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 10%;
    min-width: 200px;
    /* width: 200px; */
}

.grid-screen{
    align-items: center;
    /* width: 900px; */
    width: 70%;
    height: 95%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
}

 .grid-screen div {
    border: 1px solid lightblue;
    flex-grow: 1;
    height: 5%;
    width: 4.7%;
  }

 .tv{
     flex:1;
     margin-top: 20%;
     
 }
 .brief{
     flex: 1;
     margin-top: 20%;
 }
 .score{
     flex: 1;
     margin-top: 20%;
 }
 .life{
    flex: 1;
    margin-top: 20%;
 }
 .time{
     flex:1;
     margin-top: 20%;
 }
.console{
    flex: 1;
    margin-top: 20%;
}

.grid-screen div.spaceShip {
    background-color: lightcoral;
    /* background-image: url('../assets/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; */
  }


  .grid-screen div.enemy {
    background-color: red;
    /* background-image: url('../assets/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; */
  }


  .grid-screen div.bullet {
    background-color: green;
    /* background-image: url('../assets/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; */
  }


